// Load npm packages
@import '~normalize-styl'

// Set font-sizes so rem values for responsive effects.  Combined with the
// font() call on `body`, this scales from 20px down to 14px
:root
	mq-values(font-size, 100%, 70%, max-w)

*, *:after, *:before
	box-sizing border-box

body
	font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
	background dark-green
	color #fafafa
	padding 2rem

p
	margin 0

a
	color #fafafa
	text-decoration none
