// Load npm packages
@import '~normalize-styl'

body {
	font-family 'Roboto', 'Helvetica', 'Arial', sans-serif
	font-weight 200
	background #222
	color #fafafa
	// transform skew(2deg)
}

p {
	margin 0
}

a {
	color #fafafa
}
