.fade-enter-active, .fade-leave-active
  transition: opacity .5s

.fade-enter, .fade-leave-to
  opacity: 0


.swipe-right-enter-active, .swipe-right-leave-active
  transition opacity .45s ease, transform .45s ease
  transform translateX(0)

.swipe-right-enter, .swipe-right-leave-to
  opacity 0
  transform translateX(-30%)
