.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-to
  opacity 0

.fade-fast-enter-active, .fade-fast-leave-active
  transition opacity .3s

.fade-fast-enter, .fade-fast-leave-to
  opacity 0

.swipe-right-enter-active, .swipe-right-leave-active
  transition opacity .45s ease, transform .45s ease
  transform translateX(0)

.swipe-right-enter, .swipe-right-leave-to
  opacity 0
  transform translateX(-30%)

.scale-fade-fast-enter-active, .scale-fade-fast-leave-active
  transition opacity .3s ease, transform .3s ease
  transform-origin top left

.scale-fade-fast-enter, .scale-fade-fast-leave-to
  opacity 0
  transform scale(0.95)

.swipe-up-enter-active, .swipe-up-leave-active
  transition transform .3s ease
  transform translateY(0)

.swipe-up-enter, .swipe-up-leave-to
  transform translateY(100%)

for num in (1..5)
  baseTime = .3s
  delay = num * .1s
  .rotate-fade-{num}-enter-active, .rotate-fade-{num}-leave-active
    transition transform baseTime delay ease, opacity baseTime delay ease
    transform translateY(0)
  .rotate-fade-{num}-leave-active
    transition transform baseTime 0s ease, opacity baseTime 0s ease
  .rotate-fade-{num}-enter, .rotate-fade-{num}-leave-to
    transform translateY(2rem)
    opacity 0
