.fade-enter-active, .fade-leave-active
  transition opacity .5s

.fade-enter, .fade-leave-to
  opacity 0

.fade-fast-enter-active, .fade-fast-leave-active
  transition opacity .3s

.fade-fast-enter, .fade-fast-leave-to
  opacity 0

.swipe-right-enter-active, .swipe-right-leave-active
  transition opacity .45s ease, transform .45s ease
  transform translateX(0)

.swipe-right-enter, .swipe-right-leave-to
  opacity 0
  transform translateX(-30%)

.scale-fade-fast-enter-active, .scale-fade-fast-leave-active
  transition opacity .3s ease, transform .3s ease
  transform-origin top left

.scale-fade-fast-enter, .scale-fade-fast-leave-to
  opacity 0
  transform scale(0.95)
