/**
 * Global style definitions
 */

// Breakpoints
desktop = 1366px
tablet-landscape = 1024px
tablet = 768px
mobile-landscape = 580px
mobile = 420px
mobile-narrow = 350px

// Colors (pulled from Unity3D sites)
green = #009688
dark-green = #002835
blue = #00bcd4
slate = #353535
gray = #5a5a5b
yellow = #ffeb3b
lime = #8ac249
pink = #e91e63
off-white = #fafafa
white = #f6f9fa

// Sizing
max-w = 1200px

// Typography
text-ultra-light = 100
text-light = 300
text-book = 400
text-bold = 500
text-black = 700

@require '~bukwild-stylus-library';
support-for-ie = false // Don't generate px values with rem function

weather-module-padding()
	padding rem(20px) rem(40px)
	@media(max-width tablet-landscape)
		padding rem(15px)

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}
